#cropper--controls {
    background-color: #212121;
    text-align: center;
}

#cropper--controls a {
    color: #a8a8a8;
    font-size: 15px;
}
#cropper--controls a i {
    padding: 10px 5px;
}
#cropper--controls a:hover {
    color: white;
}

#cropper--controls.disabled a {
    cursor: not-allowed;
}
#cropper--controls.disabled a:hover {
    color: #a8a8a8;
}